/* https://fontie.pixelsvsbytes.com/webfont-generator */

@font-face {
  font-family: 'Nimbus Sans';
  src: url('../fonts/Nimbus Sans D OT Extended Regular.eot');
  src: url('../fonts/Nimbus Sans D OT Extended Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nimbus Sans D OT Extended Regular.woff2') format('woff2'),
    url('../fonts/Nimbus Sans D OT Extended Regular.woff') format('woff'),
    url('../fonts/Nimbus Sans D OT Extended Regular.svg#Nimbus Sans D OT Extended Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: expanded;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: 'Orelo SemiWide Bold';
  src: url('../fonts/Orelo SemiWide Bold Regular.eot');
  src: url('../fonts/Orelo SemiWide Bold Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Orelo SemiWide Bold Regular.woff2') format('woff2'),
    url('../fonts/Orelo SemiWide Bold Regular.woff') format('woff'),
    url('../fonts/Orelo SemiWide Bold Regular.svg#Orelo SemiWide Bold Regular') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: semi-expanded;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: 'Orelo SemiWide DemiBold';
  src: url('../fonts/Orelo SemiWide DemiBold Italic.eot');
  src: url('../fonts/Orelo SemiWide DemiBold Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Orelo SemiWide DemiBold Italic.woff2') format('woff2'),
    url('../fonts/Orelo SemiWide DemiBold Italic.woff') format('woff'),
    url('../fonts/Orelo SemiWide DemiBold Italic.svg#Orelo SemiWide DemiBold Italic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-stretch: semi-expanded;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: 'Orelo SemiWide';
  src: url('../fonts/Orelo SemiWide Italic.eot');
  src: url('../fonts/Orelo SemiWide Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Orelo SemiWide Italic.woff2') format('woff2'),
    url('../fonts/Orelo SemiWide Italic.woff') format('woff'),
    url('../fonts/Orelo SemiWide Italic.svg#Orelo SemiWide Italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: semi-expanded;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: 'Orelo SemiWide Light';
  src: url('../fonts/Orelo SemiWide Light Italic.eot');
  src: url('../fonts/Orelo SemiWide Light Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Orelo SemiWide Light Italic.woff2') format('woff2'),
    url('../fonts/Orelo SemiWide Light Italic.woff') format('woff'),
    url('../fonts/Orelo SemiWide Light Italic.svg#Orelo SemiWide Light Italic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: semi-expanded;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: 'Orelo SemiWide';
  src: url('../fonts/Orelo SemiWide Regular.eot');
  src: url('../fonts/Orelo SemiWide Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Orelo SemiWide Regular.woff2') format('woff2'),
    url('../fonts/Orelo SemiWide Regular.woff') format('woff'),
    url('../fonts/Orelo SemiWide Regular.svg#Orelo SemiWide Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: semi-expanded;
  unicode-range: U+0020-00FE;
}
